.card-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0.5rem;
}

.example-card {
    max-width: 400px;
}

.mat-mdc-list-item {
    span.index {
        background-color: #3b3a3a;
        border-radius: 100%;
        display: flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        float: left;
        margin: 0 1rem 0 0;
        font-size: 12px;
        color: #ccc;
    }
}

.mat-divider {
    border-top-color: #3b3a3a;
}

.search-input {
    justify-self: flex-end;
    height: 32px;
    padding: 0 1rem;
    border-radius: 4px;
    border: none;
}