
<h2>
  Latest posts
  <input type="text" matInput [(ngModel)]="searchQuery" (input)="filterPosts()" placeholder="Search posts..." class="search-input" />
</h2>

<mat-spinner *ngIf="isLoading"></mat-spinner>
<ng-container *ngIf="!isLoading">
  <ng-container *ngIf="filteredPosts.length > 0; else noPosts">
    <mat-list>
      <div *ngFor="let post of filteredPosts; let i = index">
        <mat-list-item>
          <span class="index">{{ i + 1 }}</span>
          <a class="link" [routerLink]="['/posts', post.id]">{{ post.title }}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </ng-container>
  <ng-template #noPosts>
    <div class="error-msg">No posts!!!</div>
  </ng-template>
</ng-container>