.mat-mdc-card {
    background-color: #3b3a3a;
    overflow: hidden;

    &-header {
        background-color: #1a1a1a;
        padding: 1rem;
        margin: 0 0 1rem 0;
    }

    &-title {
        font-size: 1.25rem;
        color: #f2f2f2;
    }

    &-content {
        color: #d8d8d8;
    }

    &-actions {
        border-top: 1px solid #434343;
        margin: 1rem 0 0 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0, auto));
        
        &-right {
            justify-self: flex-end;
            display: flex;
            gap: 0.5rem;
        }

        &-left {
            justify-self: flex-start;
            display: flex;
            gap: 0.5rem;
        }

        button {
            background-color: #08c;
            float: right;
            border-radius: 8px;
            border: none;
            color: #f2f2f2;
            padding: 0.825rem 1rem;
            cursor: pointer;

            &:hover {
                background-color: #999;
            }

            &:disabled {
                opacity: 0.4;
                background-color: #999;
            }
        }
    }

    p {
        min-height: 240px;
    }
}