<h2 *ngIf="post">Details for {{ post.title }}</h2>

<mat-spinner *ngIf="isLoading"></mat-spinner>
<ng-container *ngIf="!isLoading">
    <ng-container *ngIf="post; else noPost">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ post.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{ post.body }}</p>
            </mat-card-content>
            <mat-card-actions>
                <div class="mat-mdc-card-actions-left">
                    <button mat-button type="button" (click)="goPrev()"  [disabled]="currentIndex <= 0">&lt;</button>
                    <button mat-button type="button" (click)="goNext()" [disabled]="currentIndex >= posts.length - 1">&gt;</button>
                </div>
                <div  class="mat-mdc-card-actions-right">
                    <button mat-button type="button" (click)="goBack()">Go Back</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</ng-container>
<ng-template #noPost>
    <div class="error-msg">No post details!!!</div>
</ng-template>